/*Inicio de estilos generales*/

/* Hace que todas tengan la misma altura */
.carousel-inner,
.carousel-item {
    height: 70vh;
    min-height: 400px;
}

/* Ajusta la altura sin salirse del marco */
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Ajuste de proporciones para las imágenes de las tarjetas */
.card-img-top {
    aspect-ratio: 4 / 3;
    width: 100%;
    object-fit: cover;
}

/* Implementación de estilos para las tarjetas y página general de panorama.html con css propio */
body {
    font-family: system-ui, -apple-system, 'segeoe UI', Roboto, 'Hlvetica Nuee', arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #212529;
}
/* Estructura de la sección de títulos */
.titulo-seccion {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
    color: #212529;
}.titulo-seccion h1 {
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 0;
}
.titulo-seccion p {
    font-size: 1.25rem;
    font-weight: 300;
    color: #212529;
}

/* Contenedor para delimitar margenes */
.contenedor-principal {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 40px;
}

/* Sistema de grillas CSS Grid */
.fila-panorama {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px 0; 
}

/* Estructura de las tarjetas de panorama  */
.tarjeta-panorama {
    border: 1px solid rgba(0,0, 0, 0.125)
    border-radius: 0.375rem;
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

/* Efecto al pasar el mouse por encima */
.tarjeta-panorama:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Imagen de la tarjeta de panorama */
.imagen-tarjeta {
    aspect-ratio: 4 / 3;
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    object-position: center; 
    display: block; 
}

/* Contenedorf de los textos de adentro */
.contenido-tarjeta {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

/* Estilos para el título y descripción de la tarjeta */
.contenido-tarjeta h2 {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.75rem;
    color: #212529;
    font-weight: 500;
}
.contenido-tarjeta p {
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
/* crea cion del navbar con css propio*/
.mi-navbar {
    background-color: #212529;
    padding: 0.9rem 0;
    width: 100%;
    box-sizing: border-box;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.nav-logo {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    margin-right: 0px;
    margin-left: 0px;
}
.nav-logo:hover {
    color: #ffffff;
    text-decoration: none;
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-links a {
    color: rgba(225, 225, 225, 0.55)
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    transition: color 0.15s ease-in-out;
}
.nav-links a.active, .nav-links a:hover{
    color: #ffffff;
}